* {
    box-sizing: border-box;
    font-family: monospace;
    margin: 0;
    user-select: none;
}


body {
   height: 100vh;
   height: 100dvh;
   margin: 6rem .25rem;
}

.typewriter {
    display: flex;
    flex-direction: column;

    max-width: fit-content;
    margin: auto;
}

.typewriter h1, .typewriter h2 {

    overflow: hidden;
    white-space: nowrap;

    border-right: 3px solid #000000;

    animation: typing 2s steps(32) forwards, blink 1s step-end infinite;
}

.typewriter h1 {
    font-size: clamp(1.125rem, 3.5vw, 3rem);
}

.typewriter h2 {
    font-size: clamp(1rem, 2.5vw, 2rem);
}

.typewriter h2.fast {
    animation: typing .5s steps(9) forwards, blink 1s step-end infinite;
}
.typewriter h2.hurt {
    animation: typing .8s steps(14) forwards, blink 1s step-end infinite;
}


@keyframes typing {
    from {
        width: 0;
    }  

    to {
        width: 100%;
    } 
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

span {
    text-transform: uppercase;
}

#counter {
    margin: 2rem auto;
}

#cookies {
    position: fixed;
    height: 8rem;

    width: 50rem;
    left: calc(50% - 25rem);

    bottom: -100rem;
    

    font-size: clamp(1rem, 2vw, 1.5rem);
    text-align: center;

    padding: 1rem 0;
    box-shadow: 0 0 5px #bebebe;
    border-radius: .5rem;

    transition: .5s cubic-bezier(.7,.42,.36,1.15);
}

button {
    width: 12.5rem;
    
    padding: 1rem 2rem;
    
    font-size: 1.2rem;
    
    border: none;
    box-shadow: 0 0 5px #bebebe;
    border-radius: .5rem;
    
    background-color: #ffffff;

   
}

.cookies-button-container {
    position: relative;

    width: 27.5rem;
    bottom: .75rem; 
    left: calc(50% - 13.75rem)
}



button#accept {
    position: absolute;  

    margin: 1.5rem .5rem 0;

    background-color: #3fdd64;
    color: #ffffff;
    left: 0;

    transition: .5s ease;
}

#decline-border {
    position: absolute;

    right: 0rem;
    top: 1rem;

    width: 13.5rem;
    height: 4.35rem;

    transition: .5s cubic-bezier(.3,1.46,.65,1);
}

button#reject, .button-background {
    position: absolute;

    bottom: .5rem;
    left: .5rem;

    height: 3.35rem;
    width: 12.5rem;

    transition: .2s ease;
}

button#reject  {
    color: #ffffff;
    background-color: transparent;

    z-index: 1;
}

.button-background {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.button-background .hp {
    background-color: #ff5e5e;
}

.button-background .hp:first-child {
    border-radius: .5rem 0 0 .5rem;
}

.button-background .hp:last-child {
    border-radius: 0 .5rem .5rem 0;
}

.button-background .gone {
    background-color: #ff5e5e9d;
}




/* @media screen and (max-width: 440px) {
    #cookies {
        height: 12.5rem;
    }

    .cookies-button-container {
        bottom: -40%;
    }

    button#accept {
        bottom: 0;
        right: calc(50% - 6.25rem);
    }
    
    button#reject  {
       top: 0;
       right: calc(50% - 6.25rem);
    
    }
} */